body {margin-left: 200px;
  margin-right: 200px;
padding: 20px
border: 10px}

.navigation {
  border: 5px solid #DCDCDC;
  display: flex;
  justify-content: space-between;
}
#projects {display: flex}
#projects > .ref > .project-tile  {
  border: 10px solid #DCDCDC;
}
.profile-link {border: 5px solid #DCDCDC;
display: flex;
justify-content: space-between;
}

.profile-link > img {
  width: 200px;
  height: 200px;

}
