body {
    background: url(../assets/Background.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Prompt", sans-serif;
}

.navigation {
    border: 5px solid #dcdcdc;
    display: flex;
    justify-content: space-between;
}

.nav{
    width:100%
}

#projects {
    display: flex;
}

#projects > .ref > .project-tile {
    border: 10px solid #dcdcdc;
}

.profile-link {
    border: 5px solid #dcdcdc;
    display: flex;
    justify-content: space-between;
}

.profile-link > img {
    width: 200px;
    height: 200px;
}

.greyME {
    color: gray;
}

.greyME2 {
    color: gray;
}

.greyME:hover {
    color: rgb(72, 72, 72);
}

.colorME {
    color: whitesmoke;
}

.intro {
    background: rgb(216, 216, 216);
    box-shadow: 5px 8px 6px;
    padding: 15px;
}

.introTop {
    display: flex;
}

.intro-top-info {
    margin-left: 5rem;
}

.aboutME {
    margin-top: 5rem;
    margin-left: 5rem;
    padding: 10px;
    background: rgb(255, 255, 255);
}

.allContainer {
    margin-top: 80px;
    border-radius: 15px;
    padding: 15px;
    padding-left: 12%;
}

.borderNav {
    border: 5px;
    border-color: black;
}

.profilePic {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.iconNavDiv {
    font-size: 1.5em;
}

.iconBorder {
    color: #605f5f;
    width: auto;
    height: 150%;
    filter: drop-shadow(5px 5px 5px rgb(89, 89, 89));
}

.iconBorder:hover {
    cursor: pointer;
    filter: drop-shadow(2px 3px 5px rgb(89, 89, 89));
}

.noDecoration:hover {
    text-decoration: none;
}

.introNav {
    display: flex;
    align-items: flex-start;
}

.contactME {
    color: #605f5f;
}

hr {
    height: 1px;
    color: #605f5f;
    background-color: #605f5f;
    border: none;
}

.loadingContainer {
    background: #c1c1c1;
}

.loader {
    background: rgb(57, 116, 57);
}

.skillContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.flexInfo {
    margin-left: 100% !important;
    align-self: flex-end !important;
}

.flexInfo:hover {
    cursor: pointer;
}

.flexLabel {
    align-self: flex-start;
}

.projectImage {
    width: 100%;
    height: auto;
    box-shadow: 2px 5px 6px rgb(89, 89, 89);
    margin: 2.5rem 0rem 1.8rem 0rem;
}

.projectImage:hover {
    cursor: pointer;
    box-shadow: 2px 5px 6px rgb(0, 0, 0);
}

.projectImageLink {
    text-decoration: none;
}

.projectImageLink:hover {
    text-decoration: none;
}

.toolTip {
    position: relative;
    display: inline-block;

    /*border-bottom: 1px dotted black to dots under the hoverable text */
}

/* Tooltip text */
.toolTip .toolTipText {
    visibility: hidden;
    width: 300px;
    background-color: rgb(104, 103, 103);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text*/
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.toolTip:hover .toolTipText {
    visibility: visible;
}

.toolTip .toolTipText::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(104, 103, 103) transparent;
}

/* Values that will change on smaller screens */
@media screen and (max-width: 980px) {
    

    #icon{
        font-size: 1.8em;
    }
    .allContainer {
        padding: 0.5rem;
        margin-top: 5rem;
    }

    .aboutME {
        margin: 0rem;
    }

    body {
        padding: 0.8rem;
    }

    .profile-link > img {
        width: 100px;
        height: 100px;
    }

    .introNav {
        flex-direction: column;
        padding: 0rem;
        align-items: center;
    }

    .iconNavDiv {
        font-size: 2.2em;
        margin-bottom: 0.8rem;
    }

    .introTop {
        flex-direction: column;
        align-items: center;
        padding-bottom: 0.8rem;
        border-bottom: solid 2px gray;
    }
    .introTop div h2,
    .introTop div h5 {
        text-align: center;
    }
    .introTop img {
        margin-bottom: 1.5rem;
    }

    .introTop div {
        margin-left: 0rem;
    }
}
