@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/open_sans_variable.ttf');
}
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/open_sans_italic.ttf');
  font-style: italic;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
